th, td      {
               vertical-align: top;
               text-align: right;
               font-size:large;
               // border: 1px solid black;
            }     /* Don't center table cells  */
#converted  { color: red; font-weight: bold; font-size:large;          }     /* Calculated values in bold */
input       {
              text-align: right;       /* Align input to the right  */
              border: none;
              border-radius: 20px 20px 20px 20px;
              padding: 5px  5px;
              font-size:large;       }
body
{
 background-color:#b0c4de;  /* blue */
 font-size:large;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

h1 {
    font-weight: normal;
    font-family: "Brush Script MT", cursive;
    background: #3C5681;
    padding: 5px 15px;
    color: white;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
}

.app-bar{
  display: table;
  width: 100%;
  position: relative;
  background-color: #000000;
  color: white;
  height: 50px;


}

.titulo{
  display: table-cell;
  font-weight: bold;;
  font-family: "Brush Script MT", cursive;
  padding-top: 10px;
  width: 75%;
  vertical-align: middle;
  margin-top: 0 auto;

}

.place-right{
  display: table-cell;
  float: right !important;
  padding-right: 10px;
  padding-top: 5px !important;

}

.icon{
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 0;
}
